<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHelloService" />
                <binding name="BasicHttpBinding_ICompanyPublicService" />
                <binding name="BasicHttpBinding_IPersonalService" />
                <binding name="BasicHttpBinding_IEmployeeService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IHelloService" />
                <binding name="NetTcpBinding_ICompanyConfidentialService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/HelloService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IHelloService" contract="HelloServiceOnWpf.IHelloService"
                name="BasicHttpBinding_IHelloService" />
            <endpoint address="net.tcp://localhost:8090/HelloService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IHelloService" contract="HelloServiceOnWpf.IHelloService"
                name="NetTcpBinding_IHelloService">
                <identity>
                    <userPrincipalName value="ANDREWPC\Zver" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8081/CompanyService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICompanyPublicService"
                contract="CompanyService.ICompanyPublicService" name="BasicHttpBinding_ICompanyPublicService" />
            <endpoint address="net.tcp://localhost:8091/CompanyService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ICompanyConfidentialService"
                contract="CompanyService.ICompanyConfidentialService" name="NetTcpBinding_ICompanyConfidentialService">
                <identity>
                    <userPrincipalName value="ANDREWPC\Zver" />
                </identity>
            </endpoint>
          
            <endpoint address="http://localhost:8082/PersonalAddress" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPersonalService" contract="myPersonalService.IPersonalService"
                name="BasicHttpBinding_IPersonalService" />
          
            <endpoint address="http://localhost:8083/EmployeeService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IEmployeeService" contract="EmployeeService.IEmployeeService"
                name="BasicHttpBinding_IEmployeeService" />
        </client>
    </system.serviceModel>
</configuration>